<h1>Main User</h1>
<h1>Welccome to reporter</h1>
<p>You must log in with your credentials or as "newcomer" </p>

<form	action="/login" method="post" id="user">
  <p>
    <label>login:</label><br />
    <input type="text" name="user[login]" id="login" />
  </p>

  <p>
    <label>Password:</label><br />
    <input type="text" name="user[password]" id="password" />
  </p>

  <p>
    <input type="submit" value="Log in">
  </p>
</form>